### inside backend directory

# database config 
# postgres database credentials
USER_NAME = ""
PASSWORD = ""
DATABASE_NAME = ""

# google o-auth. 
# collect this from the google cloud console
CLIENT_ID = ''
CLIENT_SECRET = ''
TOKEN_URL = 'https://oauth2.googleapis.com/token'
PROFILE_URL = 'https://www.googleapis.com/oauth2/v1/userinfo'

#jwt secret key
JWT_SECRET_KEY = ""

#Cloudinary 
# collect this from the cloudinary
CLOUD_NAME = ""
API_KEY = ""
API_SECRET = ""

#Google account
APP_USER = "" #email
APP_PASSWORD = "" #APP id from google account

### inside frontend directory

VITE_GOOGLE_OAUTH_CLIENT_ID = ""